{% extends "base.html" %} {% block content %}


<script type="text/javascript" src="/static/js/facebook.js"></script>

<script>
    fb_loadSDK();

    // Facebook login callback
    function fbCallback(response) {
        console.log(response.status);
        if(response.status === 'connected') {

            var data = $("#doador-cadastro-1").serializeArray();
            data.push({name: "step", value: "1"})
            //data.push({name: "fbUserId", value: response.id})
            $.ajaxSetup({
                headers: { "X-CSRFToken": $.cookie("csrftoken") }
            });
            
            $.ajax({
                type: "POST",
                url: "/doador/cadastro/",
                data: data, // serializes the form's elements.
                success: function(data){
                    if (data['error']) {
                        Materialize.toast(data['error'], 2000);
                    } else {
                        $("#content-block").fadeOut(function() {
                            $(this).html(data);
                            $(this).fadeIn();
                        });
                    }
                }
            });

            // TODO: checar se está cadastrado, se estiver, ir para o perfil
            //window.location.href = '/doador/perfil';
        }
    }

    initializations = function() {
        window.fbAsyncInit = function() {
            // Facebook initialization
            fb_init();

            // Facebook fetch information
            fb_checkLoginState(fbCallback);
        };

        $("#doador-cadastro-1").submit(function(e) {
            fb_login(fbCallback);
            return false;
        });

    }

    
</script>

<style>
    .card .card-title {
        color: #f57c00 !important;
    }
    
    .error {
        margin: 0 0 15px 0;
        font-size: small;
        color: #D32F2F;
    }

    .spacer_right {
        margin-right: 20px;
        float: left;
    }
</style>

<div class="section">
    <h3 class="center-align condensed thin {{color2_text}}">Seja um doador!</h3>
</div>


<form id="doador-cadastro-1" action="" method="post">

    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">

                <div class="card">
                    <div class="card-content">

                        {% csrf_token %}

                        <center>
                            <img class="responsive-img" src="/static/img/organizador_index.png"/><br />

                            Para ser um doador, você precisar se cadastrar via Facebook.<br />
                            Prometemos que não vamos te enviar notificações sem que seja necessário. :)
                        </center>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="center-align">
            <button class="btn waves-effect waves-light {{ color3 }}" type="submit" name="action">Continuar com o Facebook</button>
        </div>
    </div>

</form>

<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 200,
        min: [1920,1,1],
        max: [2020,1,1],

        labelMonthNext: 'Próximo mês',
        labelMonthPrev: 'Mês anterior',
        labelMonthSelect: 'Selecione o mês',
        labelYearSelect: 'Selecione o ano',
        monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
        monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
        weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Fechar',
        format: 'dd/mm/yyyy',
    });
</script>

{% endblock %}