<style>
    .card .card-title {
        color: #f57c00 !important;
    }
    
    .error {
        margin: 0 0 15px 0;
        font-size: small;
        color: #D32F2F;
    }
</style>

<script>
    $(document).ready(function(){
        $("#org-cadastro-2").submit(function(e) {
            e.preventDefault();
            var data = $("#org-cadastro-2").serializeArray();
            data.push({
                name: "step",
                value: "2"
            });
            data.push({
                name: "uname",
                value: "{{uname}}"
            });
            data.push({
                name: "password",
                value: "{{password}}"
            });
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $.cookie("csrftoken")
                }
            });
            
            if ($("#org-cadastro-2").valid()) {
                
            }
            $.ajax({
                type: "POST",
                url: "/organizador/cadastro/",
                data: data, // serializes the form's elements.
                success: function(data) {
                    window.location.href="/organizador/";
                }
            });
        });
        
        $("#org-cadastro-2").validate({
            rules: {
                nome: {
                    required: true,
                    minlength: 5
                },
                responsavel: {
                    required: true,
                    minlength: 5
                },
            },
            //For custom messages
            messages: {
                nome: {
                    required: "Campo requerido!",
                    minlength: "O tamanho mínimo pra esse campo é 5!"
                },
            },
            errorElement: 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>

<div class="section">
    <div class="row">
        <div class="col s6 offset-s3">
            <h3 class="center-align header {{color3_text}}">Só faltam mais alguns detalhes para concluírmos o seu cadastro!</h3>
        </div>
    </div>
</div>

<form id="org-cadastro-2" action="" method="post">

    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">

                <div class="card">
                    <div class="card-content">

                        {% csrf_token %}

                        <span class="center card-title">Informações do responsável</span>
                        <div class="input-field col s12">
                            <input id="responsavel" name="responsavel" type="text" class="validate">
                            <label for="responsavel">Nome Completo</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="telefone" name="telefone" type="text" class="validate">
                            <label for="telefone">Telefone</label>
                        </div>
                        <div class="col s12">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="card">
                    <div class="card-content">
                        <span class="center card-title {{color3_text}}">Informações da organização</span>
                        <div class="input-field col s12">
                            <input id="organizacao" name="organizacao" type="text" class="validate">
                            <label for="organizacao">Nome da Organização</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="site" name="site" type="text" class="validate">
                            <label for="site">Site</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="endereco" name="endereco" type="text" class="validate">
                            <label for="endereco">Localização</label>
                        </div>

                        <div class="col s12">
                            &nbsp;
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="center-align">
            <button class="btn waves-effect waves-light {{ color3 }}" type="submit" name="action">Cadastrar!</button>
        </div>
    </div>

</form>