
<div class="row">
	<div class="card-content">
		<h3 class="header center {{ color3_text }}">
	           Cadastro de campanhas
	     </h3>
	    <form id="cadastro-camp"  action="" method="post">
	            <div class=" row">    
	                {% csrf_token %}
	                <div class="input-field col s12">
	                    <input id="nome" name="nome" type="text" class="validate">
	                    <label for="nome">Nome</label>
	                </div>
	                <div class="input-field col s12">
	                    <input id="localizacao" name="localizacao" type="text" class="validate">
	                    <label for="email">Localização</label>
	                </div>

	               <div class="input-field col s12">
	                   <input  id="data_inicio" name="data_inicio" type="date" class="datepicker">
	                   <label for="data" class="active"> Data de Início </label>
	                </div> 

	                <div class="input-field col s12">
	                   <input  id="data" name="data" type="date" class="datepicker">
	                   <label for="data" class="active"> Data Final </label>
	                </div> 
	            <div class="col s12">
	             	<label for="tipo_sangue"> Tipo de sangue prioritário: </label>
					<div class="row">
	            	{%for item in opcoes_sangue %}
						<div class="col s3">
							<input name="grupo_sanguineo" type="radio" id="{{item.0}}" class="with-gap" value="{{item.0}}" />
							<label for="{{item.0}}">{{item.0}}</label>
						</div>
			        {% endfor %}	 
					</div>
				</div> 
	     
				</div>
		     <div class="section">
		        <div class="center-align">
		            <button class="btn waves-effect waves-light {{ color3 }}" type="reset" name="action">Limpar</button>
		            <button class="btn waves-effect waves-light {{ color3 }}" type="submit" name="action">Cadastrar</button>
		        </div>
		    </div>
		</form>
	</div>

</div>


   