<script>
    function bindings(response){

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_sendNotification(userId, message, url) {
            var appAccessToken = "1003684733014635|miuNQ7RzuHruulnUczx5pcvHa2I";

            FB.api("/"+userId+"/notifications", 'post', {access_token : appAccessToken, template : message, href : url}, function(data) {
                console.log(data);
            });
        }

        function fb_updateForm() {
            FB.api('/me?fields=id,name,gender,birthday,location,email', function(response) {

                // Facebook ID
                $("#facebookId").val(response.id);

                // Name
                $("#name").val(response.name);
                $("#name_label").toggleClass("active");

                // Email
                $("#email").val(response.email);
                $("#email_label").toggleClass("active");

                // Location
                $("#location").val(response.location.name);
                $("#location_label").toggleClass("active");

                // Birthdate
                $("#birthdate").val(response.birthday);
                $("#birthdate_label").toggleClass("active");

                // Gender
                if(response.gender == "male") {
                    $("#male").attr('checked', true);
                } else {
                    $("#female").attr('checked', true);
                }

            });

        }

        // Facebook login callback
        function fb_statusChangeCallback(response) {
            if(response.status === 'connected') {
                fb_updateForm();

            } else {
                window.location.href = '/';

            }
        }

        // Check Facebook login status
        function fb_checkLoginState() {
            FB.getLoginStatus(function(response) {
                fb_statusChangeCallback(response);
            });
        }
        
        window.fbAsyncInit = function() {
            // Facebook initialization
            FB.init({
                appId      : '1003684733014635',
                cookie     : true,  // enable cookies to allow the server to access the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.6' // use graph api version 2.5
            });

            // Facebook fetch information
            fb_checkLoginState();
        };
        
        $("#doador-cadastro").submit(function(e){
            e.preventDefault();
            var data = $("#doador-cadastro").serializeArray();
            $.ajaxSetup({
                headers: { "X-CSRFToken": $.cookie("csrftoken") }
            });
            
            if ($("#doador-cadastro").valid()){
                $.ajax({
                    type: "POST",
                    url: "/doador/cadastro/2",
                    data: data, 
                    success: function(data){
                        if (data['error']) {
                            Materialize.toast(data['error'], 2000);
                        }
                        else{
                            alert("Cadastro concluido com sucesso! Redirecionando para seu perfil logo mais.")
                            window.location.href = "/doador"
                        }
                    }
                });
            }
        });
        
        window.fbAsyncInit();
    }

    
</script>

<style>
    .card .card-title {
        color: #f57c00 !important;
    }
    
    .error {
        margin: 0 0 15px 0;
        font-size: small;
        color: #D32F2F;
    }

    .spacer_right {
        margin-right: 20px;
        float: left;
    }
</style>

<div class="section">
    <div class="row">
        <div class="col s6 offset-s3">
            <h3 class="center-align  {{color3_text}}">Seja um doador, termine seu cadastro!</h3>
        </div>
    </div>
</div>


<form id="doador-cadastro" action="" method="post">

    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">

                <div class="card">
                    <div class="card-content">

                        {% csrf_token %}

                        <input value="" id="facebookId" name="facebookId" type="hidden" />

                        <span class="card-title">Informações pessoais</span>
                        <div class="input-field col s12">
                            <input name="name" id="name" type="text" class="validate">
                            <label id="name_label" for="name">Nome Completo</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="email" id="email" type="text" class="validate">
                            <label id="email_label" for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="location" id="location" type="text" class="validate">
                            <label id="location_label" for="location">Localização</label>
                        </div>
                        <div class="input-field col s12">
                            <label id="birthdate_label" for="birthdate" class="">Data de nascimento</label>
                            <input name="birthdate" id="birthdate" type="text" class="datepicker picker__input" readonly="" tabindex="-1" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root">
                        </div>
                        <div class="input-field col s12">
                            <p style="color: #9e9e9e;">
                                Sexo:
                            </p>
                            <p>
                                <input class="with-gap" name="gender" type="radio" id="male" value="M" />
                                <label for="male">Masculino</label>
                            </p>

                            <p>
                                <input class="with-gap" name="gender" type="radio" id="female" value="F" />
                                <label for="female">Feminino</label>
                            </p>
                        </div>
                        
                        <div class="col s12">
                            &nbsp;
                        </div>

                        <div class="col s12">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <br>

                <div class="card">
                    <div class="card-content">
                        
                        <span class="card-title">Informações de doação</span>

                        <div class="input-field col s12">
                            <span style="color: #9e9e9e;">Tipo sanguíneo:</span>
                            <br />

                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_ap" value="A+" />
                                <label for="bloodtype_ap">A+</label>
                            </div>
                                
                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_am" value="A-" />
                                <label for="bloodtype_am">A-</label>
                            </div>

                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_bp" value="B+ "/>
                                <label for="bloodtype_bp">B+</label>
                            </div>
                            
                            <div class="spacer_right">    
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_bm" value="B-" />
                                <label for="bloodtype_bm">B-</label>
                            </div>

                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_abp" value="AB+" />
                                <label for="bloodtype_abp">AB+</label>
                            </div>
                                
                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_abm" value="AB-" />
                                <label for="bloodtype_abm">AB-</label>
                            </div>

                            <div class="spacer_right">
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_op" value="O+" />
                                <label for="bloodtype_op">O+</label>
                            </div>
                            
                            <div class="spacer_right">    
                                <input class="with-gap" name="bloodtype" type="radio" id="bloodtype_om" value="O-" />
                                <label for="bloodtype_om">O-</label>
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <br />
                            <span style="color: #9e9e9e;">Última doação:</span>
                            <br />
                            
                            <div class="spacer_right">
                                <input class="with-gap" name="lastdonation" type="radio" id="lastdonation_3p" value="3p" />
                                <label for="lastdonation_3p">Há mais de 3 meses</label>
                            </div>
                                
                            <div class="spacer_right">
                                <input class="with-gap" name="lastdonation" type="radio" id="lastdonation_3m" value="3m" />
                                <label for="lastdonation_3m">Há menos de 3 meses</label>
                            </div>

                            <div class="spacer_right">
                                <input class="with-gap" name="lastdonation" type="radio" id="lastdonation_unknown" value="un"/>
                                <label for="lastdonation_unknown">Não sei</label>
                            </div>
                        </div>


                        <div class="col s12">
                            &nbsp;
                        </div>

                        <div class="col s12">
                            &nbsp;
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="center-align">
            <button class="btn waves-effect waves-light {{ color3 }}" type="submit" name="action">Cadastrar!</button>
        </div>
    </div>

</form>

<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 200,
        min: [1920,1,1],
        max: [2020,1,1],

        labelMonthNext: 'Próximo mês',
        labelMonthPrev: 'Mês anterior',
        labelMonthSelect: 'Selecione o mês',
        labelYearSelect: 'Selecione o ano',
        monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
        monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
        weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Fechar',
        format: 'dd/mm/yyyy',
    });
</script>