{% extends "base.html" %} {% block content %}
<style>
  #map {
    width: 500px;
    height: 400px;
  }
</style>



<script>
  initializations = function() {
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $('.campanha-in-list').click(function(e) {
      var campanha_cod = e.target.id.replace('campanha', '');
      $.ajax({
        url: "{{full_url}}details/?cod=" + campanha_cod,
      }).done(function(data) {
        $('#campanha-detail').html(data);
      });
    });
  }
</script>

<div class="section no-pad-bot" id="campanhas-banner">
  <div class="container">
    <h3 class="header center {{ color3_text }}">
            Buscador de campanhas
        </h3>
    <div class="row center">
      <div class="col s7">
        <div class="container">
          <form action="submit">
            <div class="input-field">
              <input id="local" type="text" class="validate">
              <label class="active" for="local">Local</label>
            </div>
            <div class="input-field">
              <input id="data" type="date" class="datepicker">
              <label class="active" for="date">Data</label>
            </div>
          </form>
        </div>

      </div>
      <div class="col s5">
        <button class="btn waves-effect {{ color3 }} waves-light" type="submit" name="action" style="top:5em">Filtrar!
                    <i class="material-icons right">send</i>
                </button>
      </div>
    </div>
    <!--         <div class="divider"></div> -->
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s5 collection" id="campanha-list" style="overflow:auto;height:300px">
        {% for campanha in campanhas %} {% include 'campanha_in_list.html' with c=campanha %} {% endfor %}
      </div>
      <div class="col s7" id="campanha-detail">
        <div class="container">
          Clique em uma das campanhas ao lado para conferir detalhes! =)
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC4Q1cyFiS9oKbbpYtanx5NTa--rsvN-Uw
    &q=UNIMED,Sao+Carlos+SP" allowfullscreen>
</iframe>-->

    <div id="map"></div>
    <!--<script>
       function initMap() {
        var myLatLng = {
          lat: -25.363,
          lng: 131.044
        };
        var myOtherLatLng = {
          lat: -25.363,
          lng: 132.044
        }
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: myLatLng,
          zoom: 8
        });
        setMarkers(map);
      }
      
      var locations = [
        ["Hello1", -25.363, 131.044],
        ["Hello2", -25.363, 132.044]
      ];

      
      function setMarkers(map) {
        for (var i = 0; i < locations.length; i++) {
          var location = locations[i];
          var marker = new google.maps.Marker({
            position: {
              lat: location[1],
              lng: location[2]
            },
            map: map,
            animation: google.maps.Animation.DROP,
            title: location[0],
          });
          marker.setMap
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>-->
     <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {
            lat: -34.397,
            lng: 150.644
          }
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({
          'address': address
        }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtKYQkSJAr0itPXC1d7P0Mcn1DRXoqBhs&signed_in=true&callback=initMap" async defer></script>

  </div>
</div>

{% endblock %}