{% extends "base.html" %} {% block content %}

<div class="section">
    <h3 class="center-align header {{color3_text}}">Junte-se a nós!</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="section">
                <h4 class="center-align condensed thin {{color2_text}}">Seja um doador</h4>
            </div>
            <div class="container">
                <div class="{text_color2}" align="justify">
                    Se você tem interesse em participar de campanhas de doação de sangue, cadastre-se como um doador. Com o auxilio da plataforma doa.la, você terá acesso a informações sobre doações de sangue próximas a você. Além de ser informado quando e onde o seu tipo
                    sanguínio mais pode ajudar. Clique no botão abaixo para cadastrar-se com sua conta do Facebook.
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="section">
                <h4 class="center-align condensed thin {{color2_text}}">Seja um organizador</h4>
            </div>
            <div class="container">
                <div class="{text_color2}" align="justify">
                    Se você representa alguma ONG que organiza campanhas de doação de sangue, cadastre-se como organizador. Você terá acesso a muito mais gente na sua região que gostaria de ajudar nessa causa. Cadastre-se abaixo como representante de sua organização e amplie
                    seus horizontes!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="center-align" >
                <a href="/doador/cadastro/1"><button class="btn waves-effect waves-light">Cadastrar!</button></a>
            </div>
        </div>
        <div class="col s6">
            <div class="center-align">
                <a href="/organizador/cadastro"><button class="btn waves-effect waves-light">Cadastrar!</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}