{% load staticfiles %}
{% with button_color="grey darken-1" color1="red darken-2" color2="brown darken-1" color3="red darken-4" color1_text="red-text text-darken-2" color2_text="red-text text-darken-2" color3_text="orange-text text-darken-2" %}  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" /> {% if page_title %}
    <title>Doa.la | {{ page_title }}</title>
    {% else %}
    <title>Doa.la</title>
    {% endif %}


    <!-- Style Frameworks -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <!-- JavaScript Frameworks-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('.button-collapse').sideNav();
            $(".signup").click(function(){
                window.location.href='/cadastro';
            });
            console.log('{{request.session.user_id}}');
            initializations();
        });
    </script>

    {% block localdeclarations %} {% endblock %}

    <style type="text/css">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            overflow: visible !important;
        }
    </style>
    
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>

</head>

<body>

    {% include 'navbar.html' %}

    <main id="content-block" style="flex: 1 0 auto;">
        {% block content %} {% endblock %}
    </main>
    
    {% include 'footer.html' %}

</body>

</html>
{% endwith %}  