<footer class="page-footer {{ color2 }}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Nossa história</h5>
                <p class="grey-text text-lighten-4">Somos uma equipe de estudantes universitários em parceria com empresas locais São Carlenses trabalhando para melhor promover campanhas de doação de sangue na cidade.</p>
            </div>

            <div class="col offset-l2 l4 s12">
                <h5 class="white-text">Saiba mais!</h5>
                <ul>
                    <li><a class="white-text" href="/campanhas">Campanhas</a></li>
                    <li><a class="white-text" href="/who">Quem pode doar?</a></li>
                    <li><a class="white-text" href="/team">Quem somos?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Equipe <a class="{{ color2_text }}" href="/">doa.la</a>
        </div>
    </div>
</footer>