{% extends "base.html" %} {% block content %}

<script>
    // Load the Facebook SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Facebook login callback
    function fb_statusChangeCallback(response) {
        if(response.status === 'connected') {
            window.location.href='/doador/cadastro';
        }
    }

    // Check Facebook login status
    function fb_checkLoginState() {
        FB.getLoginStatus(function(response) {
            fb_statusChangeCallback(response);
        });
    }

    // Facebook Login
    function fb_login() {
        FB.login(function(response) {
            if(response.authResponse) {
                fb_checkLoginState();
            }

        }, {scope: 'public_profile,email,user_birthday,user_location'});
    }

    initializations = function() {

        // Facebook initialization
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1003684733014635',
                cookie     : true,  // enable cookies to allow the server to access the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.6' // use graph api version 2.5
            });
        };


        $("#signup-org").click(function(){
            window.location.href='/organizador/cadastro';
        });
        
        $("#signup-ddr").click(function(){
            fb_login();
        });
    }
</script>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center"><img class="responsive-img" src="/static/img/organizador_index.png"/></h2>
                    <div class="container">
                        <h4 class="center {{color_titulo}} header" >Seja um organizador!</h4>
                        <p class="light" align="justify">Na última década, os transplantes de órgãos cresceram 84%, as cirurgias cresceram 619% e os atendimentos de urgência cresceram 627%. As doações de sangue necessitam acompanhar este crescimento para atender milhares de pessoas que
                            precisam de solidariedade! Através da ferramenta Doa.La é simples organizar sua própria campanha de doação de sangue! Clique no botão seja um organizador, cadastre-se e saiba mais! </p><br>
                        <div class="center-align">
                            <button id="signup-org" class="btn waves-effect {{button_color}} waves-light"> Seja um organizador!
                        </div>
                    <br><br>
                    </div>
                </div>
            </div>
         <div class="col s12 m6">
                <div class="icon-block">
                    <div class="container">
                        <h4 class="center {{color_titulo}} header">Seja um doador!</h4>
                        <p class="light" align="justify">É um ato bonito, seguro, uma forma rápida de ajudar alguém, e seu sangue é tão bom, que não deveria guardar só pra você! Os doadores de sangue são pessoas especiais, movidas pelo desejo de ajudar pessoas que muitas vezes não conhecem. Ao dedicar parte do seu tempo para doar um pouco de seu sangue, você ajuda a salvar a vida de até quatro pacientes diferentes. Clique no botão seja um doador, cadastre-se e saiba mais sobre como participar das campanhas de doação de sangue em sua região!</p><br>
                       <div class="center-align">
                           <button id="signup-ddr" class="btn waves-effect {{button_color}} waves-light">
                            Seja um doador!
                        </div>
                        <br><br>
                   </div>
                    <h2 class="center"><img class="responsive-img" src="/static/img/doador_index.jpg"/></h2>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}