<header>
    <div class="navbar-fixed">
        <nav class="{{ color1 }}">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Doa.la</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down center-align">
                    <li><a href="/campanhas">Campanhas</a></li>
                    <li><a href="/who">Quem pode doar?</a></li>
                    <li><a href="/team">Quem somos?</a></li>
                    <li><a href="">Login</a></li>
                    
                    <div class="btn orange darken-1">
                        Signup
                    </div>
                    
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/campanhas">Campanhas</a></li>
                    <li><a href="/who">Quem pode doar?</a></li>
                    <li><a href="/team">Quem Somos?</a></li>
                    <li><a href="">Login</a></li>
                    
                    <div class="btn orange darken-1">
                        Signup
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header>