{% extends "base.html" %}

{% block content %}
<style>
    
.parallax-container {
    height: 350px;
}
img{
    opacity:0.4;
}
</style>
<script>
      initializations = function(){
          $('.parallax').parallax();
      }
</script>
<div class="section">
    
</div>
<div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center {{ color1_text }}">Equipe doa.la</h1>
        <div class="row center">
          <h5 class="header col s12 light">Estudantes unidos por um mundo melhor</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <img src="/static/img/doala_group2.png"/>
    </div>
</div>
<div class="section">
    <div class="container">
        <p class="flow-text" align="justify">
            Somos todos estudantes do curso de Engenharia de Computação da Universidade de São Paulo, em São Carlos. Tomamos a iniciativa de desenvolver o Doa Lá para aumentar a promoção de campanhas de doação de sangue e aumentar a recorrência dessa atitude tão pouco custosa e tão importante para alguns de nós. (E também o fizemos para aumentar nossas notas na disciplina Engenharia de Software, mas esse não é importante)      
        </p>
    </div>
</div>

{% endblock %}